<div class="account-app-layout__widget account-app-layout__widget--wishlist">
    {% comment %}
	<div class="h5 account-app-widget-header">{{ 'customer.account.wishlist' | t }}</div>
	<!-- include 'wishlist-collection' -->
   {% endcomment %}
    <div id="wishlist-page"></div>
</div>