<div class="timer" data-infobar-timer="{{ end_date }}">
    <span class="timer-block__num js-timer-days">00</span> days - <span class="timer-block__num js-timer-hours">00</span> hr / <span class="timer-block__num js-timer-minutes">00</span> min / <span class="timer-block__num js-timer-seconds">00</span> sec
  </div>
  
  