{% if shop.metafields.accentuate.mt_sizechest %}
<div class="size-block">
    <h4 class="title">{{ 'general.sizeguide.menstop' | t }}</h4>
    <table style="width:100%">
        <tr>
        <th>{{ 'general.sizeguide.size' | t }}</th>
        <th>{{ 'general.sizeguide.chest' | t }}*</th>
        </tr>
        {% for item in shop.metafields.accentuate.mt_sizechest %}
        {% assign sizes = item | split: ','%}
        <tr>
            {% for size in sizes %}
                <td>{{size}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}