{% if page.metafields.accentuate.textwithbutton_text != blank %}
<section class="text-with-button">
    <div class="container container-min">
        <h4 class="title">{{page.metafields.accentuate.textwithbutton_text}}</h4>
        <a href="{{page.metafields.accentuate.textwithbutton_b_url}}" class="primary-button-outlined">{{page.metafields.accentuate.textwithbutton_b_text}}</a>
    </div>
</section>
{% endif %}