html{
	font-family: "nimbus-sans-extended",sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
}

a {
	color: white;
	text-decoration: none;
}

.secondary-button {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 25px;
    color: white;
    transition: all 450ms ease;
    border: none;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}

.secondary-button::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    transform: rotate(90deg) translateX(-50%);
    height: 16px;
    width: 14px;
    border-bottom: solid white 1px;
    background: linear-gradient(
            to bottom right,
            transparent 50%,
            white 0,
            white calc(50% + 1px),
            transparent 0
        ),
        linear-gradient(
                to bottom left,
                transparent 50%,
                white 0,
                white calc(50% + 1px),
                transparent 0
            )
            right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.secondary-button:hover {
    text-decoration: none;
    color: white;
}

.secondary-button:hover::before {
    background: linear-gradient(
            to bottom right,
            transparent 50%,
            white 0,
            white calc(100% + 1px),
            transparent 0
        ),
        linear-gradient(
                to bottom left,
                transparent 50%,
                white 0,
                white calc(100% + 1px),
                transparent 0
            )
            right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.secondary-button:focus {
    outline: 1px solid black;
    outline-offset: 2px;
}

.password-page {
	width: 100%;
	min-height: 100vh;
	position: relative;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 40px;
	justify-content: space-between;
	background-color: #2e3b32;
}
@media only screen and (max-width: 767px) {
  .password-page__title {
  	padding-right: 16px;
  	padding-left: 16px;
  }
}

.password-page__header {
	position: relative;
	z-index: 1;
	text-align: right;
}

.password-page__password-link {
	text-transform: uppercase;
	font-weight: bold;
}
@media only screen and (max-width: 991px) {
	.password-page__password-link {
		display: none;
	}
}

.password-page__content {
	position: relative;
	z-index: 1;
}

.password-page__logo {
	margin: 0 auto 80px;
}
@media only screen and (max-width: 991px) {
	.password-page__logo {
		margin-bottom: 40px;
	}
}

.password-page__title {
	font-size: 60px;
    line-height: 95%;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    transform: translateY(0);
	margin-bottom: 1.5rem;
}
@media only screen and (max-width: 991px) {
  .password-page__title {
  	font-size: 40px;
  }
}
.password-page__title.hidden {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-40px);
}

.password-page__text {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 136%;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-family: "nimbus-sans", sans-serif;
}

.password-page__footer {
	position: relative;
	z-index: 1;
	text-align: center;
	text-transform: uppercase;
}

ul.password-page__social {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.password-page__social li {
	margin: 0 15px;
}
.password-page__social a {
	display: block;
}

.password-page__form {
	position: absolute;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	top: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
	transform: translateY(40px);
}
.password-page__form.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.password-page__form input {
	background-color: white;
	height: 48px;
	padding: 10px;
	text-overflow: ellipsis;
	border: 1px solid white;
	outline: 1px solid white;
	margin-right: 1px;
}
.password-page__form input.error {
	border-color: red;
}
.password-page__form input:focus {
	border-color: black;
	outline: 1px solid white;
}

.password-page__form button {
	border: 1px solid white;
	outline: 1px solid white;
    padding-top: 11px;
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
	font-size: 0;
    height: 48px;
    width: 48px;
    background: #fff
        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDI1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yNC4zNTM2IDQuMzUzNTVDMjQuNTQ4OCA0LjE1ODI5IDI0LjU0ODggMy44NDE3MSAyNC4zNTM2IDMuNjQ2NDVMMjEuMTcxNiAwLjQ2NDQ2NkMyMC45NzYzIDAuMjY5MjA0IDIwLjY1OTcgMC4yNjkyMDQgMjAuNDY0NSAwLjQ2NDQ2NkMyMC4yNjkyIDAuNjU5NzI4IDIwLjI2OTIgMC45NzYzMTEgMjAuNDY0NSAxLjE3MTU3TDIzLjI5MjkgNEwyMC40NjQ1IDYuODI4NDNDMjAuMjY5MiA3LjAyMzY5IDIwLjI2OTIgNy4zNDAyNyAyMC40NjQ1IDcuNTM1NTNDMjAuNjU5NyA3LjczMDggMjAuOTc2MyA3LjczMDggMjEuMTcxNiA3LjUzNTUzTDI0LjM1MzYgNC4zNTM1NVpNMCA0LjVIMjRWMy41SDBWNC41WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==")
        50% 50% no-repeat;
}
.password-page__form button:focus {
	border-color: black;
	outline: 1px solid white;
}

.password-page__background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.password-page__background img {
	max-width: unset !important;
	max-height: unset !important;
	width: 100%;
	height: 100%;
}

#LoginModal{
    display: none;
}